/* root */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

/* ------------------------------------- */

/* body */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

/* -------------------------------------- */

/* container */
.container {
  /* background-color: red; */
  max-width: 1600px;
  margin: 30px auto 0 auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

/* ------------------------------------------------ */

/* header  */
.header {
  background-color: rgb(10, 10, 10);
  position: sticky;
  width: 20%;
  padding: 70px 20px;
  top: 30px;
  border-radius: 20px;
  min-width: 270px;
  height: fit-content;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
}

.logo:hover {
  scale: 1.2;
}

.header-info {
  /* background-color: brown; */
  margin-top: 20px;
}

.header-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header-description {
  font-size: 12px;
}

.header-menu {
  /* background-color: aqua; */
  margin-top: 50px;
}

.header-ul {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-li {
  /* display: flex; */
  /* background-color: aqua; */
}

.header-link {
  display: flex;
  /* background-color: blue; */
  gap: 8px;
  align-items: center;
  max-width: 60%;
  min-width: 70px;
}

.header-link:hover {
  transform: translateX(5px);
}

.header-link_icon {
  width: 20px;
}

.header-social {
  margin-top: 40px;
  /* background-color: aqua; */
  display: flex;
  gap: 30px;
}

.header-social_icon {
  width: 30px;
}

.header-social_icon:hover {
  scale: 1.2;
}

.header-footer {
  margin-top: 20px;
  font-size: 10px;
}
/* ------------------------------------------------------- */

/* main */
.main {
  /* background-color: blue; */
  width: 75%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.grapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 40px 40px 40px 70px;
  background-color: #383636;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
/* ---------------------------- */

/* section home */
.home {
  /* height: 600px; */
  /* background-color: aqua; */
}

.home-container_info {
  /* background-color: rgb(129, 194, 25); */
}

.home-title {
  font-size: 70px;
  font-weight: bold;
}

.home-subtitle {
  background: linear-gradient(90deg, #cc35ff 2.34%, #4ca5ff 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 400;
}

.home-p {
  /* background-color: aqua; */
  max-width: 85%;
  font-size: 16px;
}

.home-container_button {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}

.home-button {
  background-color: #4ca5ff;
  padding: 15px 30px;
  border-radius: 30px;
}
.home-button:last-child {
  background-color: #cc35ff;
}

.home-button:hover {
  scale: 1.1;
}

/* --------------------------------------------------- */

/* section skills */

.skills {
  /* background-color: rgb(0, 0, 0); */
  flex-direction: column;
  gap: 30px;
  /* gap: 20px; */
}

.skill-container_cards {
  width: 100%;
  /* background-color: chartreuse; */
  /* background-color: #383636; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 40px;
  /* padding: 70px; */
  grid-auto-flow: dense;
}

.skill-card {
  /* background-color: burlywood; */
  background-color: #444242;
  border-radius: 30px;
  padding: 30px;
  text-align: center;

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease-in-out;
}

.skill-card:hover {
  background-color: #524f4f;
}

.skill-icon {
  margin: auto;
  width: 80px;
}

.skill-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.skill-p {
  font-size: 12px;
  margin-top: 10px;
  color: rgb(190, 188, 190);
}

/* ------------------------------------------ */

/* projects  */

.projects {
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* padding: var(--spacing-xxl) var(--spacing-l); */
}

.projects-container_card {
  /* width: 100%; */
  /* background-color: #cc35ff; */
  width: 100%;
  display: flex;
  gap: 90px;
}

.projects-card {
}

.projects-card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  transition: filter 200ms linear, transform 200ms linear;
}

.projects-card:hover .projects-card__background {
  transform: scale(1.05) translateZ(0);
}

.projects-container_card:hover
  > .projects-card:not(:hover)
  .projects-card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

/* .projects-card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.projects-card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.projects-card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  background-color: #cc35ff;
  word-spacing: 100vw;
} */
